.navigation{
	background-color: #383838;
	overflow: hidden;
	position: relative;
	}
.navigation a {
	display: block;
	position: relative;
	float: left;
	margin: 20px 0 20px 50px;
	text-decoration: none;
	font-family: "Lato";
	font-size: 25px;
	color: #F9F9F9;}
.navigation a:hover{
	color: #FFFFFF;
	text-decoration: underline;}
}